.insta-btn{
    display:inline-block;
    padding:10px 20px;
    background:#E1306C;
    color:white;
    text-decoration:none;
    border-radius:5px;
    margin-top:10px;
}

.insta-btn:hover{
    background:#c72b5c;
}
